* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d4356;
}

/* first section */
.welcome-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-box h1 {
    font-size: 6rem;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
}

.welcome-box p {
    font-size: 1rem;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
}

.welcome-box button {
    margin-top: 2rem;
    height: 3rem;
    width: 10rem;
    border: 3px solid #141414;
    border-radius: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.welcome-box button:hover {
    border: 1px solid #fff;
    background-color: #141414;
    color: #fff;
}
/* first section */

/* second section */
.section-two {
    display: none;
}

.game-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-box .main-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40rem;
    height: 30rem;
    border-radius: 0.8rem;
    background-color: rgb(53, 47, 68);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.game-box .main-box .auxiliary-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37rem;
    height: 10rem;
    border-radius: 0.8rem;
    background-color: #141414;
    transform: translate(0, -50%);
}

.game-box .main-box .auxiliary-box .extra-box {
    width: 36rem;
    height: 9rem;
    background-color: #fff;
    border-radius: 0.8rem;
}

.game-box .main-box .auxiliary-box .extra-box h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    font-family: "JetBrains Mono", monospace;
    font-weight: bolder;
    font-size: 4rem;
}

.game-box .main-box .kbd-main {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.game-box .main-box .kbd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
    font-family: "JetBrains Mono", monospace;
    font-weight: bolder;
    background-color: #fff;
    cursor: pointer;
}
/* second section */

/* third section */
.section-three {
    display: none;
}

.final-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.final-box .score-box {
    
    height: 100vh;
    width: 20rem;
    height: 25rem;
    background-color: rgb(53, 47, 68);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 0.4rem;
}

.final-box .score-box h1 {
    margin-top: 3rem;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
}

.final-box .score-box button {
    margin-top: 3rem;
    width: 14rem;
    height: 4rem;
    border: 3px solid #141414;
    border-radius: 0.4rem;
    font-family: "JetBrains Mono", monospace;
    font-size: large;
    font-weight: bolder;
    color: #141414;
    transform: translate(22%);
    cursor: pointer;
    transition: 0.3s ease-in;
}

.final-box .score-box button:hover {
    border: 1px solid #fff;
    background-color: #141414;
    color: #fff;
}

.final-box .score-box p {
    margin-top: 5rem;
    text-align: center;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
}
/* third section */
