* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2D4356;
}


/* first section */
.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-one h1 {
    font-size: 6rem;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
}

.section-one p {
    font-size: 1rem;
    font-family: "JetBrains Mono", monospace;
    color: #fff;
}

.section-one button {
    margin-top: 2rem;
    height: 3rem;
    width: 10rem;
    border: 0;
    border-radius: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family: "JetBrains Mono", monospace;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.section-one button:hover {
    border: 1px solid #fff;
    background-color: #141414;
    color: #fff;
}
/* first section */